# Environment Configuration

DATABASE_URL="mysql+pymysql://USERNAME:PASSWORD@HOST:PORT/DB_NAME"

# google stuff
GOOGLE_CLIENT_ID=app_client_id_here
GOOGLE_CLIENT_SECRET=app_client_secret_here

# attendance stuff
JWT_SECRET=

# certificate stuff
CERTIFICATE_API_URL=http://localhost:8000

# clerk stuff
CLERK_JWKS_URL=